body {
    padding: 0;
    margin: 0;
    font-family: segoe UI;

    --gfe-bg-color: #222;
    --gfe-text-color: #aaa;
    --gfe-ui-color: #333;
    --gfe-uiactive-color: #555;
    --gfe-widget-color: #444;
    --gfe-widgetactive-color: #666;

    /*
    --gfe-bg-color: #0B0C10;
    --gfe-text-color: #fff;
    --gfe-ui-color: #1F2833;
    --gfe-uiactive-color: #66FCF1;
    --gfe-widget-color: #45A29E;
    --gfe-widgetactive-color: #66FCF1;
    */
}

.editor_ui {
    width: 100%;
    height: 100%;
    color: var(--gfe-text-color);
    background: var(--gfe-bg-color);
}

.identity_widget {
    width: 100%;
    height: 80px;
}

.idw_user_portrait {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    background: #555;
    border-radius: 8px;
    border-top-right-radius: 0px;
}

.idw_user_portrait_image {
    margin: 8px;
    width: 64px;
    height: 64px;
    background: #fff;
    border-radius: 8px;
    border: none;
}

.idw_user_badge {
    position: absolute;
    top: 0px;
    left: 80px;    
    width: calc(100% - 80px);
    height: 40px;
    background: #555;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.idw_user_name {
    line-height: 40px;
    margin-left: 10px;
    color: #ddd;
    
}

.idw_project_name {
    position: absolute;
    top: 40px;
    left: 80px;
    width: calc(100% - 90px);
    line-height: 40px;
    padding-left: 10px;
}

.idw_project_name:hover {
    cursor: pointer;
    text-decoration: underline;
    background: #444;
}

.project_explorer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    color: var(--gfe-text-color);
    background: var(--gfe-ui-color);
}

.project_explorer_category {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #444;
}

.project_explorer_category_name {
    padding: 10px;
    height: 30px;
    line-height: 30px;
}

.project_explorer_category_name:hover {
    cursor: pointer;
    background: var(--gfe-uiactive-color);
}

.project_explorer_no_plus_button {
    display: none;
}

.project_explorer_plus_button {
    float: right;
    width: 30px;
    height: 30px;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: bold;
    line-height: 30px;

    color: #666;
}

.project_explorer_plus_button:hover {
    color: #fff;
}

.project_explorer_category_content {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #000;
    background: var(--gfe-widget-color);
    color: var(--gfe-text-color);
}

.project_explorer_item {
    padding: 10px;
    
}

.project_explorer_item:hover {
    cursor: pointer;
    background: var(--gfe-uiactive-color);
    border-radius: 5px;
}

.editor_view {
    position: absolute;
    top: 0px;
    left: 300px;
    width: calc(100% - 300px);
    height: 100%;

    color: #aaa;
}

.edit_main_pane {
    position: absolute;
    padding: 10px;
    margin: 10px;
    width: calc(70% - 40px);
    height: calc(100% - 40px);
    padding: 10px;
    background: var(--gfe-ui-color)
}

.edit_properties_pane {
    position: absolute;
    left: 70%;
    top: 0;
    padding: 10px;
    margin: 10px;
    width: calc(30% - 40px);
    height: calc(100% - 40px);
    padding: 10px;
}

.savedel_bar {
    height: 44px;
    margin-bottom: 40px;
}

.savedel_bar_button {
    display: inline-block;
    width: calc(33% - 10px);
    height: 44px;
    background: var(--gfe-widget-color);
    color: var(--gfe-text-color);
    text-align: center;
    line-height: 44px;
    border-radius: 5px;

    margin: 5px;
}

.savedel_bar_button:hover {
    cursor: pointer;
    background: var(--gfe-uiactive-color);
}

.savedel_bar_button_disabled {
    color: #888;
}


.labeled_textbox {
    margin-bottom: 20px;
    width: 100%;
}

.labeled_textbox_label {
    color: var(--gfe-text-color);
}

.labeled_textbox_text {
    color: #fff;
    width: calc(100% - 20px);
    background: var(--gfe-ui-color);
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.labeled_dropdown_label {
    color: var(--gfe-text-color);
}

.labeled_dropdown_select {
    color: #fff;
    width: calc(100% - 20px);
    background: var(--gfe-ui-color);
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}

.seek_widget {
    margin-top: 25px;
    width: 100%;
    margin-bottom: 45px;
}

.seek_slider {
    margin-top: 20px;

    -webkit-appearance: none;
    appearance: none;
    outline: none;
    width: calc(100% - 22px);
    height: 20px;
    background: var(--gfe-ui-color);
    border: 1px solid #444;
    
    border-radius: 10px;
}

.seek_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 45px;
    height: 45px;
    background: var(--gfe-uiactive-color);

    border-radius: 10px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.view_selector {
    width: 100%;
    margin-bottom: 10px;
}

.vs_canvas {
    background: #000;
}

.editor_modal_title {
    font-size: 44px;
    padding: 10px;
}

.editor_modal_message {
    font-size: 22px;
    padding: 10px;
    margin-bottom: 20px;
}

.editor_modal_button {
    padding: 20px;
    background: var(--gfe-ui-color);
    color: var(--gfe-text-color);
    display: inline;
    margin: 10px;
    border-radius: 5px;
}

.editor_modal_button:hover {
    cursor: pointer;
    background: var(--gfe-uiactive-color);
}

.frame_tools {
    width: 100%;
    height: 40px;
    margin-bottom: 40px;
}

.frame_tools_button {
    display: inline-block;
    line-height: 40px;
    margin: 5px;
    width: calc(50% - 20px);
    text-align: center;
    background: var(--gfe-ui-color);
    border-radius: 5px;
}

.frame_tools_button:hover {
    cursor: pointer;
    background: var(--gfe-uiactive-color);
}